.table_row:nth-child(odd) {
  background-color: #ffffff;
}
.table_row:nth-child(even) {
  background-color: #d3d3d3;
}
.table_cell {
  border-collapse: collapse;
  border: 1px solid #242424;
  text-align: center;
}
.table_cell:first-child {
  text-transform: capitalize;
}
