.table {
  border-collapse: collapse;
  border: 1px solid #000000;
  min-width: 400px;
  margin: 2rem;
}

.table_head {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #000000;
  text-align: center;
}
